body{
    /*background-color: rgb(241,238,214);*/
    background-color: rgb(253,241,240);;

}

/*HEADER*/

.header{
    background-color: rgb(254,255,255);
    display: flex;
    flex-wrap: wrap;
    height: 80px;
}

.header-cont{

    height: 40px;
    width: 45%;
    margin: 20px;
}

.header-cont img{
    height: 50px;
    width: 45%;
}

.nav{
    font-size: 1.2em;
    text-align: center;
    justify-content: space-around;
}

.header-cont .nav li {
    display: inline;
    margin: 10px;
}

.nav a{
    text-decoration: none;
    color: rgb(234,7,15);
}


.nav a:hover{
    color: rgb(116,125,95);
}

/*CIERRE HEADER*/

/*CONTENEDOR*/

.caja-nombre{
    width: 100%;
    height: 45px;
    background-color: rgb(241,238,214);
    text-align: center;
    font-size: 2em;
}
.caja-texto{
    width: 100%;
    height: 450px;
    text-align: justify;
    font-size: 1.2em;
}

.caja-link{
    width: 98%;
    height: 60px;
    text-align: right;
}

.caja-link button{
    font-family: 'Overpass', sans-serif;
    font-size: 0.8em;
    color:rgb(254,254,254);
    width: 20%;
    height: 25px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: rgb(234,7,15);
    margin-top: 10px;
}
.caja-link button:hover {
    background-color: rgb(254,254,254);
    color:rgb(234,7,15);
}

.caja-link button a{
    text-decoration: none;
    color: rgb(254,254,254);
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    height: 6100px;
    align-content: center;
    justify-content: space-around;
}

.cajas{
    background-color: rgb(254,254,254);
    width: 80%;
    height: 580px;
    margin-bottom: 10px;
    border: 3px solid rgb(241,238,214);
    align-content: center;
    justify-content: space-around;
}
/*CIERRE CONTENEDOR*/

@media(max-width:610px){

    .header{
        background-color: rgb(254,255,255);
        display: flex;
        flex-wrap: wrap;
        height: 120px;
        width: 100%;
    }

    .header-cont{
        height: 40px;
        width: 36%;
        margin: 20px;
    }
    
    .header-cont img{
        height: 40px;
        width: 95%;
    }

    .contenedor{
        display: flex;
        flex-wrap: wrap;
        /*height: 7550px;*/
        margin-top: 10px;
        height: auto;
        align-content: center;
        justify-content: space-around;
    }
    
    .cajas{
        background-color: rgb(254,254,254);
        width: 80%;
        height: auto;
        margin-bottom: 10px;
        border: 3px solid rgb(241,238,214);
        align-content: center;
        justify-content: space-around;
    }

    .caja-texto{
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 1.2em;
    }

}


@media screen and (min-width:611px) and (max-width:1350px){
    .header{
        background-color: rgb(254,255,255);
        display: flex;
        flex-wrap: wrap;
        height: 90px;
        width: 100%;
    }

    .header-cont{
        height: 40px;
        width: 42%;
        margin: 20px;
    }
    
    .header-cont img{
        height: 35px;
        width: 55%;
    }

    .contenedor{
        display: flex;
        flex-wrap: wrap;
        /*height: 7350px;*/
        margin-top: 10px;
        height: auto;
        align-content: center;
        justify-content: space-around;
    }
    
    .cajas{
        background-color: rgb(254,254,254);
        width: 80%;
        height: auto;
        margin-bottom: 10px;
        border: 3px solid rgb(241,238,214);
        align-content: center;
        justify-content: space-around;
    }

    .caja-texto{
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 1.2em;
    }


}